/* Firefox */

input[type=number] {
    -moz-appearance: textfield;
}


/* Chrome */

input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}


/* Opéra*/

input::-o-inner-spin-button,
input::-o-outer-spin-button {
    -o-appearance: none;
    margin: 0
}

.bg_lightGreen {
    background-color: lightgreen!important;
}

.bg_lightYellow {
    background-color: rgb(241, 241, 135)!important;
}